/images/snake/snake-graphics (4).png
/images/snake/apple.jpg
/images/snake/snake-body-horizontal.png
/images/snake/snake-body-vertical.png
/images/snake/snake-graphics (6).png
/images/snake/snake-graphics (10).png
/images/snake/snake-graphics (13).png
/images/snake/snake-graphics (12).png
/images/snake/snake-graphics (11).png
/images/snake/snake-graphics (14).png
/images/snake/snake-head-down.png
/images/snake/snake-graphics (15).png
/images/snake/snake-head-left.png
/images/snake/snake-head-right.png
/images/snake/snake-head-up.png
/images/snake.ico
/images/snake-graphics.png
/images/hodaya/128/
/images/hodaya/64/
/images/hodaya/padam-regular.jpeg
/venv/
/.idea/
/__pycache__/
